$background-fon: black;
$font-color-text: plum;

.footer{
    background-color: $background-fon;
    color: $font-color-text;
    &__line{
        display: flex; 
        flex-direction: row;
        gap: 2.5vw;
    }
    &__line-animation{
        margin-top: 0;
        display: flex; 
        flex-direction: row;
        animation: moves 10s ease-in-out infinite;
    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;   
       }
       .footer__kicker,
       .footer__main-text,
       .footer__description {
      margin-top: 0;
    }
    &__description{
        margin-left: 3vw;;
    }
    &__btn{
        font-size: x-large;
        width: clamp(160px, 25vw, 500px);
        height: clamp(45px, 5vh, 60px);
        font-size: x-large;
        background-color:  rgb(61, 61, 61);
        color: rgb(246, 104, 104);
        display: flex; justify-content: space-evenly; align-items: center;
        font-family: "Bitcount Grid Double"; 
              
    } 
}

@keyframes moves {
    0%{
        transform:translateX(0%);
    }
    50%{
        transform:translateX(75%);
    }
    100%{
        transform:translateX(0%);
    }
}

.modalWindow{
    display: none;
  width: 67%; height: 80%;
  border: 2px solid pink;
  background: rgba(111, 111, 111, 0.6);
  margin-left: 10vw; padding: 5.5vw;
  margin-top: 2.5vh;

 }

.modalWindow{
    &__link{
        text-decoration: none;
        font-size: x-large;
        color: plum;
        margin-left: 20.5vw;
        animation: blink 2s infinite;      
        
    }
}

@keyframes blink{
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    
    }
}